<div class="container-fluid player" xmlns="http://www.w3.org/1999/html">
	<div id="metadata" class="alert alert-info alert-dismissible center-block hidden" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<i class="fa fa-database" aria-hidden="true"></i>&nbsp; Video metadata successfully loaded !
	</div>
	<div id="ready" class="alert alert-success alert-dismissible center-block hidden" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp; Video is ready to play !
	</div>
	<div class="row center-block stream player-block">
		<div id="videoContainer" class="video-container thumbnails">
            <div class="movie">

                <video id="video" class="video-js vjs-sublime-skin videojs-stream col-sm-12 "
                       data-setup='{"example_option":true}' controls
                       preload="none">
                    {{log subtitles}}

                    {{#eachProp subtitles}}
                        <track label="{{lang}}" kind="captions" srclang="{{key}}" src="{{src}}">
                    {{/eachProp}}
                    <!--<track label="English" kind="captions" srclang="en" src="http://localhost:3000/test.vtt" default>-->
                    <!--<track label="French" kind="captions" srclang="fr" src="http://localhost:3000/test.vtt">-->

                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </video>
                <div id="progresBar">
                    <div class="progress col-xs-11 nopadding">
                        <div id="progressTime" class="progress-bar" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span class="currentTime" style="color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;"></span>
                        </div>
                    </div>
                    <div id="duration" class="col-xs-1"></div>
                </div>
                <p id="mag" style="display:none">{{ magnet }}</p>
            </div>
        </div>
		<span class="part">About the movie</span>
		<hr />
		<div class="video-infos">
			<div class="movie">
				<div class="poster" style="background-image: url('{{ movie.movie.poster }}');"></div>
				<div class="movie-infos">
					<h4>{{ movie.movie.title }} ({{ movie.movie.year }})</h4>
					<small class="movie-basics text-muted">
						<span class="rated">{{ movie.movie.rated }}</span>
						{{ movie.movie.runtime }} - {{ movie.movie.genres }}
					</small>
					<p class="imdb-rating"><strong>IMDB Rating: {{#if movie.movie.imdb.rating }} {{ movie.movie.imdb.rating }}</strong>/10 (votes: {{ movie.movie.imdb.votes }}) {{else}} N/A {{/if}}</p>
					<p class="plot"><strong>Synopsis:</strong> <em>{{ movie.movie.plot }}</em></p>
					<p class="director"><strong>Director: </strong>{{ movie.movie.director }}</p>
					<p class="stars"><strong>Stars: </strong>{{ movie.movie.actors }}</p>
					<div class="other-resolutions">
						{{#each movie.link}}
							{{#if this.link}}
								<a href="{{ this.link }}" type="button" class="btn btn-default btn-sm"><i class="fa fa-play-circle" aria-hidden="true"></i> <strong>{{ this.resolution }}</strong> <em>({{ this.seeds }})</em></a>
							{{/if}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		<span class="part">Comments</span>
		<hr />
		<div class="comments">
			<div class="form-group">
				<textarea class="form-control" rows="3" id="comment-area"></textarea>
				<button id="comment-btn" type="button" class="btn btn-primary" disabled><i class="fa fa-comment" aria-hidden="true"></i> Add my comment</button>
			</div>
			<div id="comments-list" class="row">
				{{#each movie.comments}}
					<div class="col-md-12 comment-block" id="{{ this.id }}">
						<div class="avatar img-rounded img-responsive" style="background-image: url('{{ this.user.avatar }}');"></div>


						<div class="panel panel-default content">
							<div class="panel-heading username">
								<strong><a href="/app/user/{{ this.user.id }}">{{ this.user.firstname }} {{ this.user.lastname }}</a></strong> <small class="text-muted date">{{ this.date }}</small>
								<span class="pull-right delete-comment" data-comment-id="{{ this.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
							</div>
							<div class="panel-body text">
								<em>{{ this.text }}</em>
							</div><!-- /panel-body -->
						</div><!-- /panel panel-default -->
						<small class="comment-error text-danger hidden"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> You can't delete this comment, you're not the owner</small>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>

<!--<script type="text/javascript" src="/js/videosub.js"></script> -->

<script type="text/javascript" src="//cdn.embed.ly/player-0.0.11.min.js"></script>
<script type="text/javascript" src="/js/mylib.js"></script>
<script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/3.6.12/videojs-contrib-hls.js"></script>

<script type="text/javascript">
var isDownload = {{ isDownload }};
if (isDownload == true) {
            $('#video').removeClass('videojs-stream');
            $('#progresBar').addClass('hidden');
}
var minTOHHMM = (min) => {
        var h = parseInt(min / 60);
        var min = parseInt(min - (60 * h));
        if (h == 0)
            h = "00";
        if (min.toString().length == 1)
            min = '0' + min;
        return (h + ":" + min + ":00");

    }
    $('#duration').html(minTOHHMM({{ duration }}));

    var toHHMMSS = (secs) => {
        var sec_num = parseInt(secs, 10)
        var hours = Math.floor(sec_num / 3600) % 24
        var minutes = Math.floor(sec_num / 60) % 60
        var seconds = sec_num % 60
        return [hours, minutes, seconds]
                .map(v => v < 10 ? "0" + v : v)
                .filter((v, i) => v !== "00" || i > 0)
                .join(":")
    }


	 var url = "http://localhost:3000/app/torrent/{{torrentId}}/{{duration}}";
	 console.log(url);
	 var player = videojs('video');
    player.src({
        src: url,
        type: 'video/mp4',
        withCredentials: true
    });
        setInterval(function () {
        var whereYouAt = player.currentTime();
        whereYouAt = parseInt(whereYouAt);
        var duration = $('#duration').html();
        var a = duration.split(':');
        var secondsTotal = (+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2]);
        var percent = (whereYouAt * 100) / secondsTotal;
        $('#progressTime').css('width', percent + '%');
        $('.currentTime').html(toHHMMSS(whereYouAt));

    }, 1000);

	 </script>