<div class="container-fluid player" xmlns="http://www.w3.org/1999/html">
	<div id="metadata" class="alert alert-info alert-dismissible center-block hidden" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<i class="fa fa-database" aria-hidden="true"></i>&nbsp; Video metadata successfully loaded !
	</div>
	<div id="ready" class="alert alert-success alert-dismissible center-block hidden" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp; Video is ready to play !
	</div>
	<div class="row center-block stream player-block nopadding">
		<div id="videoContainer" class="video-container thumbnails">
            <div class="movie">

                <video id="video" data-id="{{ torrentId }}" class="video-js vjs-sublime-skin col-sm-12 "
                       controls
                       preload="none">

                    {{#eachProp subtitles}}
                        <track label="{{lang}}" kind="captions" srclang="{{key}}" src="{{src}}">
                    {{/eachProp}}
                    <!--<track label="English" kind="captions" srclang="en" src="http://localhost:3000/test.vtt" default>-->
                    <!--<track label="French" kind="captions" srclang="fr" src="http://localhost:3000/test.vtt">-->

                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </video>
            </div>
        </div>
		<span class="part">About the movie</span>
		<hr />
		<div class="video-infos">
			<div class="movie paddingGene">
				<div class="poster" style="background-image: url('{{ movie.movie.poster }}');"></div>
				<div class="movie-infos">
					<h4 style="margin-top: -6px;">{{ movie.movie.title }} ({{ movie.movie.year }})</h4>
					<small class="movie-basics text-muted">
						<span class="rated">{{ movie.movie.rated }}</span>
						{{ movie.movie.runtime }} - {{ movie.movie.genres }}
					</small>
					<p class="imdb-rating"><strong>IMDB Rating: {{#if movie.movie.imdb.rating }} {{ movie.movie.imdb.rating }}</strong>/10 (votes: {{ movie.movie.imdb.votes }}) {{else}} N/A {{/if}}</p>
					<p class="plot"><strong>Synopsis:</strong> <em>{{ movie.movie.plot }}</em></p>
					<p class="director"><strong>Director: </strong>{{ movie.movie.director }}</p>
					<p class="stars"><strong>Stars: </strong>{{ movie.movie.actors }}</p>
					<div class="other-resolutions">
						{{#each movie.link}}
							{{#if this.link}}
								<a href="{{ this.link }}" type="button" class="btn btn-default btn-sm"><i class="fa fa-play-circle" aria-hidden="true"></i> <strong>{{ this.resolution }}</strong> <em>({{ this.seeds }})</em></a>
							{{/if}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		<span class="part">Comments</span>
		<hr />
		<div class="comments paddingGene">
			<div class="form-group">
				<textarea class="form-control" rows="3" id="comment-area"></textarea>
				<button id="comment-btn" type="button" class="btn btn-primary" disabled><i class="fa fa-comment" aria-hidden="true"></i> Add my comment</button>
			</div>
			<div id="comments-list" class="row">
				{{#each movie.comments}}
					<div class="col-md-12 col-sm-12 comment-block" id="{{ this.id }}">
						<div class="avatar img-rounded img-responsive" style="background-image: url('{{ this.user.avatar }}');"></div>


						<div class="panel panel-default content">
							<div class="panel-heading username">
								<strong><a href="/app/user/{{ this.user.id }}">{{ this.user.firstname }} {{ this.user.lastname }}</a></strong> <small class="text-muted date">{{ this.date }}</small>
								<span class="pull-right delete-comment" data-comment-id="{{ this.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
							</div>
							<div class="panel-body text">
								<em>{{ this.text }}</em>
							</div><!-- /panel-body -->
						</div><!-- /panel panel-default -->
						<small class="comment-error text-danger hidden"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> You can't delete this comment, you're not the owner</small>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>

<!--<script type="text/javascript" src="/js/videosub.js"></script> -->

<script type="text/javascript" src="//cdn.embed.ly/player-0.0.11.min.js"></script>
<script type="text/javascript" src="/js/mylib.js"></script>
<script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/3.6.12/videojs-contrib-hls.js"></script>
<script type="text/javascript" src="/js/player.js"></script>
<script type="text/javascript">
var isDownload = {{ isDownload }};
if (isDownload == true) {
            $('#video').removeClass('videojs-stream');
            $('#progresBar').addClass('hidden');
}

	 var url = "http://localhost:3000/app/torrent/{{torrentId}}/{{duration}}";
	 var player = videojs('video');
    player.src({
        src: url,
        type: 'video/mp4',
        withCredentials: true
    });

	 </script>